@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url("@fontsource-variable/open-sans/files/open-sans-latin-wght-normal.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("@fontsource-variable/geist-mono/files/geist-mono-latin-wght-normal.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Manufacturing Consent";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/manufacturing-consent/files/manufacturing-consent-latin-400-normal.woff2")
    format("woff2");
}
